@import url('bootstrap');
@import url('bootstrap-icons');

header {
    .navbar {
        min-height: 80px !important;
    }

}

main {
    min-height: 100vh;
    padding-bottom: 2rem;
}

.card {

    .card-header {
        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }
    }

    .card-body {
        min-height: 200px;
    }
}

footer {
    margin-top: 1rem;
    background-color: black;
    min-height: 80px !important;

    h5 {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
    }
}