@import url('bootstrap');
@import url('bootstrap-icons');

header {
    .navbar {
        min-height: 80px !important;
    }

}

main {
    min-height: 100vh;
    padding-bottom: 2rem;
}

.card {

    .card-header {
        img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }
    }

    .card-body {
        min-height: 200px;
    }


}

.shadowed:hover {

    box-shadow: 4px 4px 8px;
}


.no_link {
    text-decoration: none;
    color: black;
}

.movie {
    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }

    .stars {

        color: goldenrod;
    }

    ul {
        list-style-type: none;

        li {
            margin: 1rem 0;

        }
    }
}

.bold {
    font-weight: bold;
    font-size: 1.2rem;
}


footer {
    margin-top: 1rem;
    background-color: black;
    min-height: 80px !important;

    h5 {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
    }
}