@import url('bootstrap');
@import url('bootstrap-icons');

main {
    min-height: 100vh;
}

.card {

    .card-header {
        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }
    }

    .card-body {
        min-height: 200px;
    }
}